*{
margin: 0;
}
html, body {
height: 100%;
font-family: sans-serif;
}
p::selection {
color: green;
background: #e1e5eb;
}
.page {
position: relative;
max-width: 700px;
margin: 0 auto;
min-height: calc(100% - 50px);
margin-bottom: -25px;
overflow: auto;
}
.page:after {
content: "";
display: block;
height: 25px;
}
.wall{
width: 100%;
}
.post{
padding: 20px;
background: aqua;
text-align: justify;
border-bottom: 2px solid black;
font-size: 14px;
}
.post:hover{
background: #FF5575;
}
@media (max-width: 700px){
    .wall{
        max-width: 100%;
        margin-left: 0px;
    }
}
.fulltext{
display: none;
}
input[type=button]{
	padding: 5px 10px 5px 10px;
	background: limegreen;
	border: none;
	color: white;
	box-shadow: 0 0 2px #000a;
	cursor: pointer;
outline: none;
}
button:focus{
outline: none;
}
.butt{
    text-align: center;}
.fullsize{
display: none;
background: #fffb;
width: 100%;
height: 100%;
z-index: 100;
position: absolute;
top: 0;
}
.fullsize section{
max-width: 400px;
min-height: 200px;
margin: auto;
background: yellow;
padding: 20px;
}
.fullsize section h1{
text-align: center;
}
.fullsize section p{
margin-top: 13px;
}